html {
    scroll-behavior: smooth;
}

.font-noto-sans {
    font-family: 'Noto Sans', sans-serif;
}

.font-cinzel {
    font-family: 'Cinzel', serif;
}

.font-cinzel-decorative {
    font-family: 'Cinzel Decorative', cursive;
}

.person {
    .person__photo {
        background: url("/assets/aleksei_poponin.png");
        background-size: cover;
    }
}

.left-w-center {
    left: 50%;
    transform: translateX(-50%);
}

::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.5);
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    background-color: transparent;
}
